apiVersion: v1
kind: Pod
metadata:
  name: test-pod-with-pvc
  namespace: default
  labels:
    app: test-pod
spec:
  containers:
  - name: nginx
    image: nginx:latest
    ports:
    - containerPort: 80
    volumeMounts:
    - name: data-volume
      mountPath: /data
  volumes:
  - name: data-volume
    persistentVolumeClaim:
      claimName: test-pvc-1g
  restartPolicy: Always
