apiVersion: v1
kind: PersistentVolume
metadata:
  name: test-pv-1g-v2
spec:
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: ""
  hostPath:
    path: /tmp/k8s-pv-data-v2
    type: DirectoryOrCreate
